# Data Cleaning

### Step 1. Import the necessary libraries

In [2]:
print(1)
import pandas as pd
import numpy as np

print(np.arange(1,5))
print()

1
[1 2 3 4]

In [1]:

import numpy as np
import pandas as pd

### Step 2. Set the url we want to import the data from

In [3]:
url = 'https://raw.githubusercontent.com/FrancescoMariottini/project3/main/inputs/sales_data.csv'

### Step 3. Assign it to a pandas DataFrame

In [5]:
df = pd.read_csv(url)
df

,source,hyperlink,locality,postcode,house_is,property_subtype,price,sale,rooms_number,area,...,open_fire,terrace,terrace_area,garden,garden_area,land_surface,land_plot_surface,facades_number,swimming_pool_has,building_state
0,6,8901695,4180,4180.0,True,MIXED_USE_BUILDING,295000,NaN,3,242,...,False,True,36,True,1000,1403,1403,0,False,GOOD
1,6,8747010,8730,8730.0,True,VILLA,675000,NaN,4,349,...,False,False,0,True,977,1526,1526,0,False,AS_NEW
2,6,8775843,4020,4020.0,True,APARTMENT_BLOCK,250000,NaN,5,303,...,False,False,0,False,0,760,760,0,False,TO_RENOVATE
3,6,8910441,1200,1200.0,True,HOUSE,545000,NaN,4,235,...,False,False,0,False,0,63,63,0,False,JUST_RENOVATED
4,6,8758672,1190,1190.0,True,MIXED_USE_BUILDING,500000,NaN,2,220,...,False,False,0,True,60,193,193,0,False,AS_NEW
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75871,1,https://www.immoweb.be/en/classified/penthouse...,Blankenberge,8370.0,False,PENTHOUSE,339000,residential_sale,2,115,...,False,NaN,True,NaN,NaN,NaN,NaN,NaN,False,NaN
75872,1,https://www.immoweb.be/en/classified/penthouse...,Sint-Kruis,8310.0,False,PENTHOUSE,649000,residential_sale,2,98,...,False,NaN,True,28,NaN,NaN,NaN,NaN,False,AS_NEW
75873,1,https://www.immoweb.be/en/classified/apartment...,Liège,4020.0,False,APARTMENT,25000,annuity_monthly_amount,3,142,...,NaN,NaN,True,4,NaN,NaN,NaN,NaN,NaN,AS_NEW
75874,1,https://www.immoweb.be/en/classified/apartment...,Huy,4500.0,False,APARTMENT,99000,residential_sale,3,210,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75875,1,https://www.immoweb.be/en/classified/apartment...,Verviers,4800.0,False,APARTMENT,109000,residential_sale,1,70,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.dtypes

source                  int64
hyperlink              object
locality               object
postcode              float64
house_is                 bool
property_subtype       object
price                  object
sale                   object
rooms_number           object
area                   object
kitchen_has            object
furnished              object
open_fire              object
terrace                object
terrace_area           object
garden                 object
garden_area            object
land_surface           object
land_plot_surface      object
facades_number         object
swimming_pool_has      object
building_state         object
dtype: object

In [ ]:
print("Saba Yahya")

In [ ]:
print("hhhhhhhhhhhhhhhhhhhhhhhhhhhhh")

In [3]:
print("Saba Yahyaa")

Saba Yahyaa

In [ ]:
print("Saba Yahyaa")