# Data Cleaning

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

1
[1 2 3 4]

In [6]:

import numpy as np
import pandas as pd

### Step 2. Set the url we want to import the data from

In [32]:
url = 'https://raw.githubusercontent.com/FrancescoMariottini/project3/main/inputs/all_sales_data.csv'
df=pd.read_csv(url, low_memory=False,  skipinitialspace=True)

### Step 3. Assign it to a pandas DataFrame

In [5]:
#df = pd.read_csv(url)
df

,source,hyperlink,locality,postcode,house_is,property_subtype,price,sale,rooms_number,area,...,open_fire,terrace,terrace_area,garden,garden_area,land_surface,land_plot_surface,facades_number,swimming_pool_has,building_state
0,6,8901695,4180,4180.0,True,MIXED_USE_BUILDING,295000,NaN,3,242,...,False,True,36,True,1000,1403,1403,0,False,GOOD
1,6,8747010,8730,8730.0,True,VILLA,675000,NaN,4,349,...,False,False,0,True,977,1526,1526,0,False,AS_NEW
2,6,8775843,4020,4020.0,True,APARTMENT_BLOCK,250000,NaN,5,303,...,False,False,0,False,0,760,760,0,False,TO_RENOVATE
3,6,8910441,1200,1200.0,True,HOUSE,545000,NaN,4,235,...,False,False,0,False,0,63,63,0,False,JUST_RENOVATED
4,6,8758672,1190,1190.0,True,MIXED_USE_BUILDING,500000,NaN,2,220,...,False,False,0,True,60,193,193,0,False,AS_NEW
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75871,1,https://www.immoweb.be/en/classified/penthouse...,Blankenberge,8370.0,False,PENTHOUSE,339000,residential_sale,2,115,...,False,NaN,True,NaN,NaN,NaN,NaN,NaN,False,NaN
75872,1,https://www.immoweb.be/en/classified/penthouse...,Sint-Kruis,8310.0,False,PENTHOUSE,649000,residential_sale,2,98,...,False,NaN,True,28,NaN,NaN,NaN,NaN,False,AS_NEW
75873,1,https://www.immoweb.be/en/classified/apartment...,Liège,4020.0,False,APARTMENT,25000,annuity_monthly_amount,3,142,...,NaN,NaN,True,4,NaN,NaN,NaN,NaN,NaN,AS_NEW
75874,1,https://www.immoweb.be/en/classified/apartment...,Huy,4500.0,False,APARTMENT,99000,residential_sale,3,210,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75875,1,https://www.immoweb.be/en/classified/apartment...,Verviers,4800.0,False,APARTMENT,109000,residential_sale,1,70,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.dtypes

source                  int64
hyperlink              object
locality               object
postcode              float64
house_is                 bool
property_subtype       object
price                  object
sale                   object
rooms_number           object
area                   object
kitchen_has            object
furnished              object
open_fire              object
terrace                object
terrace_area           object
garden                 object
garden_area            object
land_surface           object
land_plot_surface      object
facades_number         object
swimming_pool_has      object
building_state         object
dtype: object

### Step 4. Fields cleaning

In [9]:
print("----------- Price ----------------")
# Price Field
import re

# #price_correction=lambda x: str(x)  if str(x).isdigit() =='True' else re.search(r'\d+', str(x)).group()
#
# def price_correction(x):
#     if x == None
#         x=np.nan
#     else:
#         if str(x).isdigit() == 'True':
#             x=str(x)
#         else:
#             x=re.search(r'\d+', str(x)).group()
#     return (x)

# df['price']=df['price'].map(price_correction)
print(df['price'].dtype)
# df['price']=pd.to_numeric(df['price'], errors='coerce').div(1000)
# df['price']=df['price'].replace(0,np.nan)
# df= df.rename(columns={'price': 'price_k'})

missing_percentage_price=(df['price'].isnull().sum() * 100)/df.shape[0]
print("Percentage of missing values in price is {} %".format(int(missing_percentage_price)))
print("---------------------------")

----------- Price ----------------
object
Percentage of missing values in price is 1 %
---------------------------

In [20]:
print("----------- furnished ----------------")
df= df.rename(columns={'furnished ': 'furnished'})
print(df['furnished'].unique())
#df['furnished']=df['furnished'].astype('bool')
missing_percentage_furnished=(df['furnished'].isnull().sum() * 100)/df.shape[0]
print("Percentage of missing values in furnished is {} %".format(int(missing_percentage_furnished)))
print("-------------------------------------")

----------- furnished ----------------
[False True nan]
Percentage of missing values in furnished is 13 %
-------------------------------------

In [33]:
print("----------- garden ----------------")
df= df.rename(columns={'garden ': 'garden'})
print(df['garden'].unique())

#f_t=lambda x: x.capitalize() if x =='True' or x=='False' or x=='FALSE' or x=='TRUE' else np.nan

def f_t(x):
    if (x =='True' or x=='False' or x=='FALSE' or x=='TRUE'):
        x=x.capitalize()
        if x=="True":
            x=bool(True)
        else:
            x=bool(False)
    elif (x =='1' or x=='0'):
        if x =='1':
            x=bool(True)
        else:
            x=bool(False)

    else:
        x=np.nan
    return(x)

df['garden']=df['garden'].apply(f_t)
df['garden']=df['garden']
print(df['garden'].unique())
missing_percentage_garden=(df['garden'].isnull().sum() * 100)/df.shape[0]
print("Percentage of missing values in garden is {} %".format(int(missing_percentage_garden)))
print("-------------------------------------")

----------- garden ----------------
['True' 'False' nan '16.0' '36.0' '3749.0' '15.0' '45.0' '31.0' '40.0'
 '25.0' '20.0' '120.0' '30.0' '60.0' '19.0' '7.0' '127.0' '28.0' '50.0'
 '23.0' '26.0' '6.0' '10.0' '70.0' '4.0' '100.0' '64.0' '12.0' '17.0'
 '24.0' '22.0' '94.0' '55.0' '21.0' '145.0' '47.0' '8.0' '5.0' '18.0'
 '80.0' '170.0' '13.0' '38.0' '9.0' '150.0' '27.0' '66.0' '125.0' '48.0'
 '85.0' '75.0' '37.0' '11.0' '35.0' '32.0' '41.0' '114.0' '1.0' '14.0'
 '44.0' '74.0' '53.0' '161.0' '300.0' '43.0' '29.0' '90.0' '142.0' '105.0'
 '61.0' '62.0' '96.0' '108.0' '157.0' '2.0' '54.0' '34.0' '180.0' '3.0'
 '450.0' '112.0' '280.0' '33.0' '200.0' '140.0' '65.0' '196.0' '56.0'
 '42.0' '51.0' '111.0' '86.0' '77.0' '110.0' '63.0' '39.0' '57.0' '88.0'
 '93.0' '141.0' '72.0' '68.0' '400.0' '159.0' '76.0' '95.0' '46.0' '122.0'
 '52.0' '89.0' '271.0' '160.0' '78.0' '59.0' '97.0' '124.0' '49.0' '188.0'
 '81.0' '220.0' '350.0' '261.0' '123.0' '71.0' '250.0' '246.0' '213.0'
 '115.0' '230.0' '91.0' '58.0' '138.0' '708.0' '165.0' '144.0' '500.0'
 '83.0' '73.0' '67.0' '101.0' '82.0' '130.0' '69.0' '175.0' '312.0']
[True False nan]
Percentage of missing values in garden is 12 %
-------------------------------------

In [13]:
print("----------- garden_area ----------------")
df['garden_area']=pd.to_numeric(df['garden_area'], errors='coerce')
#do we fill empty with 0????????????????
#df['garden_area']=df['garden_area'].fillna(0).astype(np.int32)
missing_percentage_garden_area=(df['garden_area'].isnull().sum() * 100)/df.shape[0]
print("Percentage of missing values in garden_area is {} %".format(int(missing_percentage_garden_area)))
print("-------------------------------------")

----------- garden_area ----------------
Percentage of missing values in garden_area is 33 %
-------------------------------------

In [22]:
print("----------- terrace ----------------")
df= df.rename(columns={'terrace ': 'terrace'})
df['terrace']=df['terrace'].fillna(np.nan).apply(f_t)
#df['terrace']=df['terrace'].astype('bool')
print(df['terrace'].unique())
missing_percentage_terrace=(df['terrace'].isnull().sum() * 100)/df.shape[0]
print("Percentage of missing values in terrace is {} %".format(int(missing_percentage_terrace)))
print("-------------------------------------")

----------- terrace ----------------
['True' 'False' nan]
Percentage of missing values in terrace is 22 %
-------------------------------------

In [23]:
print("----------- house_is ----------------")
print(df.columns.tolist())
#df= df.rename(columns={'house_is ': 'house_is'})
print(df['house_is'].unique())
df['house_is']=df['house_is'].fillna(np.nan)
#df['house_is']=df['house_is'].astype('bool')
print(df['house_is'].unique())
missing_percentage_house_is=(df['house_is'].isnull().sum() * 100)/df.shape[0]
print("Percentage of missing values in house_is is {} %".format(int(missing_percentage_house_is)))
print("-------------------------------------")

----------- house_is ----------------
['source', 'hyperlink', 'locality', 'postcode', 'house_is', 'property_subtype', 'price', 'sale', 'rooms_number', 'area', 'kitchen_has', 'furnished', 'open_fire', 'terrace', 'terrace_area', 'garden', 'garden_area', 'land_surface', 'land_plot_surface', 'facades_number', 'swimming_pool_has', 'building_state']
[nan]
[nan]
Percentage of missing values in house_is is 100 %
-------------------------------------

In [25]:
print("----------- 'swimming_pool_has ' ----------------")
df= df.rename(columns={'swimming_pool_has ': 'swimming_pool_has'})
print(df['swimming_pool_has'].unique())
df['swimming_pool_has']=df['swimming_pool_has'].fillna(np.nan).apply(f_t)
#df['swimming_pool_has']=df['swimming_pool_has'].astype('bool')
print(df['swimming_pool_has'].unique())
missing_percentage_swimming_pool_has=(df['swimming_pool_has'].isnull().sum() * 100)/df.shape[0]
print("Percentage of missing values in swimming_pool_has is {} %".format(int(missing_percentage_swimming_pool_has)))
print("-------------------------------------")

----------- 'swimming_pool_has ' ----------------
['False' 'True' nan 'FALSE' 'TRUE' '0']
['False' 'True' nan]
Percentage of missing values in swimming_pool_has is 28 %
-------------------------------------

In [26]:
print("----------- 'open_fire ' ----------------")
df= df.rename(columns={'open_fire ': 'open_fire'})
print(df['open_fire'].unique())
df['open_fire']=df['open_fire'].fillna(np.nan)
#print(df['open_fire'].unique())
missing_percentage_open_fire=(df['open_fire'].isnull().sum() * 100)/df.shape[0]
print("Percentage of missing values in open_fire is {} %".format(int(missing_percentage_open_fire)))
print("-------------------------------------")

----------- 'open_fire ' ----------------
[False True nan]
Percentage of missing values in open_fire is 6 %
-------------------------------------

In [ ]:
print("Saba Yahyaa")

In [3]:
print("Saba Yahyaa")

Saba Yahyaa

In [ ]:
print("Saba Yahyaa")